{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> India Must Change Its Approach to Blood Donation.
          Even today, India is heavily dependent on replacement blood donation, wherein
          family or friends are asked to donate blood in lieu of the units given to a patient.
          However, this form of blood donation does not necessarily replace the blood group or
          quantity administered and leads to increased risk of transfusion-transmissible infections,
          and this is where we come in. Our website intends to revolutionize the ease of donating blood
          and making it accessible to anyone and everyone in need. </br>
          Make sure to check out our chatbot to clear up any doubts you may have</p>
        <a href="http://127.0.0.1:8005/" class="btn btn-primary">Click to go to Chatbot &rarr;</a>

        <p class="card-text">If you would like, do take part in our polls survey too, and let us know
          what u thought of our website!</p>
          <a href='{% url "poll" %}' class="btn btn-primary">Click to go to Polls Page &rarr;</a>
    </div>
</div>
</div>

{% endblock sidebar %}
