<title> Disease Check </title>
<div class='tdStyle'>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1 align='center'>Unfortunately you are unfit to donate blood.</h1>
<h2 align='center'> But we like your enthusiasm. Do encourage your friends and family to donate blood!</h2>
<a href="{% url 'main' %}"><input align='center' type="submit" class="btn btn-outline-primary btn-sm" value="Go Back to Home" ></a>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

<style>
  .tdStyle
  {
  background-image:url('https://bloodbankonline.org/images/Tue2014_BackgroundBokeh_3.jpg');
  background-repeat:no-repeat;
  background-size:100%;
  text-align:center;
  font-family:Georgia;
  }
</style>
