<title> Already Donated </title>
<div class='tdStyle'>
  <br/><br/><br/><br/><br/><br/><br/><br/>
<h1 align='center'>It seems you have already donated Blood.<br/> Keep up the good work and spread the word! </h1>
<a href="{% url 'main' %}"><input align='center' type="submit" class="btn btn-outline-primary btn-sm" value="Go Back to Home" ></a>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>


<style>
  .tdStyle
  {
  background-image:url('https://bloodbankonline.org/images/Tue2014_BackgroundBokeh_3.jpg');
  background-repeat:no-repeat;
  background-size:100%;
  text-align:center;
  font-family:Georgia;
  }
</style>
