<title> E-mail Sent</title>
<div class='tdStyle'>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1>Congratulations! You have been registered as a Donor! </h1>
<h2> Make sure to visit any hospital or blood bank around you on the date selected.</h2>
<h2>You must have recieved an email confirming your appointment.</h2>
<h3 align='center'> Thank You!</h3>
<a href="{% url 'main' %}"><input align='center' type="submit" class="btn btn-outline-primary btn-sm" value="Go Back to Home Page" ></a>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

<style>
  .tdStyle
  {
  background-image:url('https://bloodbankonline.org/images/Tue2014_BackgroundBokeh_3.jpg');
  background-repeat:no-repeat;
  background-size:100%;
  text-align:center;
  font-family=Georgia;

  }
</style>
