

<title>Home Page</title>
<div class='tdStyle'>
<div class='Intro'>
<head>
  <h1 style='color:black'>Welcome to The Bhopal Blood Donation System</h1>
  <h3 style='color:black'> Have you decided to Donate Blood?</h3>
  <h3 style='color:black'> Well you are at the right place </h3>
</head>
</div>
<div class='body'>
  <a class= 'btn' href="{% url 'register' %}" style='background-color:tomato; color:black' ><br/><b>Become a Donor</b></a>
<h3 style='color:black'> &uarr;Click here to register to be a donor!&uarr;</h3>
  <br/>
  <a class= 'btn' href="{% url 'search' %}" style='background-color:crimson; color:black' ><br/><b>Find Nearby Hospitals and Clinics</b></a>
<h3 style='color:black'> &uarr;Click here to know more about hospitals and clinics around you&uarr;</h3>
  <br/>
  <a class= 'btn' href='blog/'  style='background-color:#990F02; color:black'><br/><br/><b>Visit our Blog</b></a>
<h3 style='color:black'> &uarr;Click here to learn more about Blood Donation&uarr;</h3>
</div>
<body align='right' style='color:white'>
  This project was made by:-
        Hussain,
        Albert and
        Peter
</body>
<footer>

</footer>
</div>

<style>

  .Intro{
    text-align: center;
    font-family: Georgia;

  }
  .btn {
  display:block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid red;
  margin:auto;
  text-color:'black';
}

.body{
  text-align:center;
}
.tdStyle
{
background-image:url('https://bloodbankonline.org/images/Tue2014_BackgroundBokeh_3.jpg');
background-repeat:no-repeat;
background-size:100%;
}

</style>
